.Canvas {
  display: flex;
  flex-direction: row;
}

.Board {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 219, 196);
  border: solid black 1px;
  width: 100vw;
  height: 100vh
}

.Damage {
  display: flex;
  color: red;
}

.AIZone {
  display: flex;
  background-color: rgb(225, 142, 142);
  justify-content: center;
  column-gap: 8px;
  height: 20%;
  position: relative;
}

.AICard {
  display: flex;
  min-width: 100px;
  min-height: 140px;
  max-width: 100px;
  background-image: url('./components/images/warlock.png');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  transition: transform .25s;
  cursor: pointer;
  position: relative;
}

.AICardZone {
  display: flex;
  justify-content: center;
  height: 20%;
  position: relative;
}

.PlayingZone {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  justify-content: left;
  column-gap: 8px;
  height: 20%;
  position: relative;
}

.PlayingZone-Creatures{
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.Hand {
  display: flex;
  background-color: honeydew;
  justify-content: center;
  column-gap: 8px;
  height: 20%;
  position: relative;
}

/* to be removed, unless we inherit properties as a base class */
.Card {
  display: flex;
  background-color: rgb(159, 159, 159);
  width: 30%;
	padding-bottom: 25%;
  padding-left: 2px;
  padding-right: 2px;
	/*float: left;*/
	margin: 1.66%;
	border-radius: 5%;
}

.CardInHand {
  display: flex;
  min-width: 100px;
  min-height: 140px;
  max-width: 100px;
  background-color: rgb(159, 159, 159);
  background-image: url('./components/images/black.template.png');
  background-size: contain;
  transition: transform .25s;
  cursor: pointer;
  position: relative;
}
.CardInHand:hover {
  transform: scale(1.5);
  z-index: 2;
}

.CardInPlay {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  min-height: 140px;
  max-width: 100px;
  background-color:  rgb(159, 159, 159);
  background-image: url('./components/images/black.template.png');
  background-size: contain;
  transition: transform .25s;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}
.CardInPlay:hover {
  transform: scale(1.5);
  z-index: 2;
}

.Card-Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 7px;
  font-size: 7pt;
  padding-left: 12px;
  padding-right: 12px;
  /*justify-content: center;*/
}

.Card-PT {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 7pt;
}

.Card-Cost {
  padding-top: 2px;
  font-size: 7px;
}

.CardInHand-Art {
  display: flex;
}

.CardInHand-Rules {
  display: flex;
}

.CardInHand-Footer {
  display: flex;
}

.CardInPlay-Header {
  display: flex;
  /*justify-content: center;*/
}

.CardInPlay-Art {
  display: flex;
}

.CardInPlay-Rules {
  display: flex;
}

.CardInPlay-Footer {
  display: flex;
}

.ManaPoolHUD {
  margin: 10px;
}

.Button {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}